* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
    outline: 1px solid #f00 !important;
    opacity: 1 !important;
    visibility: visible !important;
} */

:root {
    --text: #fff;
    --main-bg: rgb(44, 44, 44);

    --incorrect: rgb(199, 108, 108);

    --correct: rgb(110, 202, 152);
}

body {
    /* background-color: var(--main-bg); */
    background: linear-gradient(var(--main-bg), #9198e5);
    background-repeat: no-repeat;

    font-family: "Roboto", sans-serif;

    font-size: 2em;

    overflow: hidden;

    transition: background-color 1s ease;

    /* position: absolute;
    top: 0;
    left: 0; */
    height: 100vh;
}

.colored-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(44, 44, 44, 1);

    transition: background-color 0.3s ease;
}


main {
    margin-top: 4rem;
    height: 60vh;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 40vw;
}

.btn {
    margin: 10px;
    padding: 0.1em;
    border: 2px solid var(--text);
    color: var(--text);

    box-shadow: 2px 2px 5px rgb(0, 0, 0);

    width: 120px;
    height: 50px;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.2s ease;
}

#guess {
    font-family: "Roboto", sans-serif;
    width: 600px;
    min-width: 200px;

    background: none;
    border-radius: 5px;

    outline: none;

    border: 2px solid rgba(200, 200, 200);

    box-shadow: 2px 2px 5px rgb(0, 0, 0);

    color: var(--text);

    font-size: 1em;

    transition: box-shadow 0.2s ease;
}

#guess:hover {
    box-shadow: 4px 4px 5px black;
}

.svg {
    position: relative;
    display: inline;
}

.scale {
    transform: scale(150%) !important;
}

#check {
    position: absolute;
    top: 25%;
    left: 20px;

    fill: var(--correct);

    transform: scale(0%);

    transition: transform 0.1s ease;
}

#cross {
    position: absolute;
    top: 25%;
    left: 20px;

    fill: var(--incorrect);

    transform: scale(0%);

    transition: transform 0.1s ease;
}

#skip {
    font-family: "Roboto", sans-serif;

    border-style: dashed;

    background: none;

    font-size: 1em;
}

#skip:hover {
    background-color: rgb(105, 35, 35);
}

#multi {
    font-family: "Roboto", sans-serif;

    border-style: dotted;

    background: none;

    font-size: 1em;
}

#multi:hover {
    background-color: rgb(105, 84, 38);
}

#hint {
    font-family: "Roboto", sans-serif;
    background: none;
    font-size: 1em;
}

#hint:hover {
    background-color: rgb(35, 60, 105);
}

.multi-choice-container {
    height: 10rem;
    width: 50vw;

    display: grid;

    grid-template-columns: repeat(3, minmax(3rem, 1fr));

    grid-template-rows: repeat(2, minmax(3rem, 5rem));

    gap: 1rem;

    justify-content: space-evenly;

    color: var(--text);
}

.hint-option {
    cursor: pointer;

    /* min-height: 2em;
    height: auto; */

    /* border: 1px solid var(--text); */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    font-size: clamp(0.3em, 0.75em, 1em);

    /* width: 200px; */

    /* margin-left: 10px;
    margin-right: 10px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.hint-shrink {
    min-height: 3em;
    font-size: 0.5em;
}

#image {
    border: 4px solid black;

    box-shadow: 2px 2px 5px rgb(0, 0, 0);

    transition: all 0.5s ease-in-out;
}

#next-image {
    display: none;
}

#settings {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0vw;

    transition: width 0.3s ease;
    background-color: rgba(33, 33, 33, 50);

    pointer-events: none;

    z-index: 10;
}

#settings-container {
    height: 50vh;

    color: var(--text);
    font-size: 0.75em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* padding-left: 1rem; */

    /* border-top: 2px solid var(--text); */

    opacity: 0;

    transition: opacity 0.1s ease, width 0.3s ease;
}

#settings-hit-target {
    display: flex;
    justify-content: center;

    min-width: 3rem;
    margin: 1rem;

    z-index: 99;

    pointer-events: all;
}

#settings-icon {
    width: 3rem;
    height: 3rem;
    z-index: -1;

    transition: fill 0.3s ease;
}

.settings-focused {
    width: clamp(300px, 40vw, 500px) !important;
    pointer-events: initial !important;
}

.settings-container-focused {
    opacity: 1 !important;
}

.settings-element {
    display: flex;
    flex-direction: column;

    min-width: 300px;

    padding-left: 1rem;
    padding-right: 1rem;
}

.settings-label {
    color: rgb(160, 160, 160);
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px;
}

.settings-label-small {
    color: rgb(160, 160, 160);
    font-size: 0.8em;
}

#difficulty-container {
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.diff {
    cursor: pointer;
}

[data-active="true"] {
    color: rgb(138, 218, 255);
    background-color: rgba(138, 218, 255, 0.1);
    border-radius: 5px;
    padding: 5px;
}

[data-active-flag="true"] {
    color: rgb(138, 218, 255);
    background-color: rgba(138, 218, 255, 0.1);
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 650px) and (min-width: 500px) {
    #guess {
        margin-top: 1em;
        width: 80vw;
    }

    .multi-choice-container {
        height: 8rem;

        width: 90vw;
    }

}

@media (max-width: 500px) {
    #settings-container {
        font-size: 0.75em;
    }

    #image {
        width: 80vw;
    }

    #guess {
        margin-top: 1em;
        width: 80vw;
    }

    #hint {
        font-size: 1em;
    }

    #next {
        font-size: 0.6em;
    }

    #skip {
        font-size: 1em;
    }

    .layout {
        width: 100px;
        height: 40px;
    }

    .multi-choice-container {
        height: 6rem;

        width: 80vw;
    }

    .hint-option {

        font-size: 0.4em;
    }

    #check {
        position: absolute;
        top: 10%;
        left: -32px;

        fill: var(--correct);

        transform: scale(0%);

        transition: transform 0.1s ease;
    }

    #cross {
        position: absolute;
        top: 10%;
        left: -32px;

        fill: var(--incorrect);

        transform: scale(0%);

        transition: transform 0.1s ease;
    }

    .scale {
        transform: scale(80%) !important;
    }

}