* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
    outline: 1px solid #f00 !important;
    opacity: 1 !important;
    visibility: visible !important;
} */

:root {
    --text: #fff;
    --main-bg: rgb(44, 44, 44);

    --incorrect: rgb(199, 108, 108);

    --correct: rgb(110, 202, 152);
}

body {
    /* background-color: var(--main-bg); */
    background: linear-gradient(var(--main-bg), #9198e5);
    background-repeat: no-repeat;

    font-family: "Roboto", sans-serif;

    font-size: 2em;

    overflow: hidden;

    transition: background-color 0.5s ease;

    /* position: absolute;
    top: 0;
    left: 0; */
    height: 100vh;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

#colored-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(44, 44, 44, 1);

    transition: background-color 1s ease;

    overflow-x: hidden;
}


main {
    margin-top: 4rem;
    height: 60vh;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
}

.btn {
    margin: 10px;
    padding: 0.1em;
    border: 2px solid var(--text);
    color: var(--text);

    background: none;

    box-shadow: 2px 2px 5px rgb(0, 0, 0);

    width: 120px;
    height: 50px;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s ease;
}

#guess {
    font-family: "Roboto", sans-serif;
    width: 600px;
    min-width: 200px;
    height: 50px;

    border-radius: 5px;

    outline: none;
    margin-top: 1em;
    margin-bottom: 1em;

    background: none;

    border: 2px solid rgba(200, 200, 200);

    box-shadow: 2px 2px 5px rgb(0, 0, 0);

    color: var(--text);

    font-size: 1em;

    transition: box-shadow 0.2s ease, opacity 0.3s ease, height 0.3s ease;
}

#guess:hover {
    box-shadow: 4px 4px 5px black;
}

.svg {
    /* position: relative; */
    display: inline;
}

.scale {
    transform: scale(150%) !important;
}

#check {
    position: absolute;
    top: 25vh;
    width: 5rem;
    height: 5rem;
    left: calc(50vw - 2.5rem);

    fill: var(--correct);

    transform: scale(0%);

    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--correct);


    border-radius: 50%;

    transition: transform 0.1s ease;
}

#cross {
    position: absolute;
    top: 25vh;
    width: 5rem;
    height: 5rem;
    left: calc(50vw - 2.5rem);

    fill: var(--incorrect);

    transform: scale(0%);

    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--incorrect);
    border-radius: 50%;

    transition: transform 0.1s ease;
}

#skip {
    font-family: "Roboto", sans-serif;

    border-style: dashed;

    background: none;

    font-size: 1em;
    overflow: hidden;

    transition: opacity 0.3s ease, height 0.3s ease;
}

#skip:hover {
    background-color: rgb(20, 20, 20);
}

.toggle {
    position: absolute;
    bottom: 1rem;
    left: 30vw;
    width: 40vw;
    height: 3rem;

    border-radius: 5px;


    /* margin: 10px; */
    padding: 0.1em;
    border: none;
    /* border-bottom: 2px solid grey; */

    background-color: rgba(0, 0, 0, 0.3);
    color: var(--text);

    /* background: none; */


    cursor: pointer;

    font-family: "Roboto", sans-serif;
    font-size: 0.6em;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.toggle:hover {
    background-color: rgb(20, 20, 20);
    box-shadow: 3px 3px 5px rgb(138, 218, 255);
}


[data-mode="true"] {
    opacity: 0;
    pointer-events: none;
}


#hint {
    font-family: "Roboto", sans-serif;
    background: none;
    font-size: 1em;

    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}

#hint:hover {
    background-color: rgb(20, 20, 20);
}

.multi-choice-container {
    height: 10rem;
    width: 50vw;

    display: grid;

    grid-template-columns: repeat(3, minmax(3rem, 1fr));

    grid-template-rows: repeat(2, minmax(4rem, 6rem));

    gap: 1rem;

    justify-content: space-evenly;

    color: var(--text);

    transition: height 0.5s ease;
}

.hint-container {
    height: 10rem;
    width: 50vw;

    display: flex;
    justify-content: center;

    color: var(--text);

    transition: height 0.5s ease;
}

.hint-letter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hint-ans {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--incorrect);
}


[data-choice="false"] {
    height: 0rem !important;
}

.hint-option {
    cursor: pointer;

    /* min-height: 2em;
    height: auto; */

    /* border: 1px solid var(--text); */
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5em;
    border-radius: 5px;

    font-size: clamp(0.3em, 0.75em, 1em);

    /* width: 200px; */

    /* margin-left: 10px;
    margin-right: 10px; */

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: opacity 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.hint-option:hover {
    background-color: rgb(20, 20, 20);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.hint-shrink {
    min-height: 3em;
    font-size: 0.5em;
}

.flag {
    position: absolute;
    top: 10%;
    width: 100%;

    border: 4px solid black;

    box-shadow: 2px 2px 5px rgb(0, 0, 0);

    /* transition: all 0.5s ease-in-out; */
    transition: left 0.5s ease, opacity 0.3s ease;
}

.flag:nth-child(2) {
    left: 100%;
    opacity: 0;
}

#image-container {
    position: relative;
    width: 25vw;
    height: 25rem;

    transition: width 0.5s ease;
}

#settings {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0vw;

    transition: width 0.3s ease;
    background-color: rgba(33, 33, 33, 50);

    pointer-events: none;

    z-index: 10;
}

#settings-container {
    height: 50vh;

    color: var(--text);
    font-size: 0.75em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* padding-left: 1rem; */

    /* border-top: 2px solid var(--text); */

    opacity: 0;

    transition: opacity 0.1s ease, width 0.3s ease;
}

#settings-hit-target {
    display: flex;
    justify-content: center;

    min-width: 3rem;
    margin: 1rem;

    z-index: 99;

    pointer-events: all;
}

#settings-icon {
    width: 3rem;
    height: 3rem;
    z-index: -1;

    transition: fill 0.3s ease;
}

.settings-focused {
    width: clamp(300px, 40vw, 500px) !important;
    pointer-events: initial !important;
}

.settings-container-focused {
    opacity: 1 !important;
}

.settings-element {
    display: flex;
    flex-direction: column;

    min-width: 300px;

    padding-left: 1rem;
    padding-right: 1rem;
}

.settings-label {
    color: rgb(160, 160, 160);
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px;
}

.settings-label-small {
    color: rgb(160, 160, 160);
    font-size: 0.8em;
}

#difficulty-container {
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.diff {
    cursor: pointer;
}

[data-active="true"] {
    color: rgb(138, 218, 255);
    background-color: rgba(138, 218, 255, 0.1);
    border-radius: 5px;
    padding: 5px;
}

[data-active-flag="true"] {
    color: rgb(138, 218, 255);
    background-color: rgba(138, 218, 255, 0.1);
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 800px) and (min-width: 500px) {
    #guess {
        margin-top: 1em;
        width: 80vw;
    }

    .multi-choice-container {
        height: 8rem;

        width: 90vw;
    }

    .flag {
        top: 20%;
    }

    #image-container {
        width: 40%;
    }

}

@media (max-width: 500px) {
    #settings-container {
        font-size: 0.75em;
    }

    .flag {
        top: 25%;
    }

    #image-container {
        width: 70%;
        height: 20rem;
    }

    #guess {
        margin-top: 1em;
        width: 80vw;
    }

    #hint {
        font-size: 1em;
    }

    #next {
        font-size: 0.6em;
    }

    #skip {
        font-size: 1em;
    }

    .layout {
        width: 100px;
        height: 40px;
    }

    .multi-choice-container {
        height: 12rem;

        width: 90vw;


        grid-template-columns: repeat(3, minmax(4rem, 1fr));

        grid-template-rows: repeat(2, minmax(6rem, 10rem));

        row-gap: 1.5rem;
        column-gap: 1rem;

        font-size: 1.3em;

        transition: height 0.5s ease;
    }

    .hint-option {

        font-size: 0.4em;
    }



    .scale {
        transform: scale(80%) !important;
    }

}